<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Random Drink</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
       <div>
        <img src="https://freepngimg.com/thumb/starbucks/24116-3-starbucks-logo-transparent-image.png">
       </div>
        <img src="https://www.freepngimg.com/download/starbucks/74799-coffee-frappuccino-starbucks-drawing-free-hd-image.png" alt="starbucks cups icon">
        <br>
        <form action="/your_drink" method="post">
               <p><h3 style="color:powderblue;">{{ item }}</h3></p>
            <br>
              <input type ="submit" value="ENTER" id="enter_button">
        </form>

    </body>
</html>