<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Random Drink</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://www.freepngimg.com/download/starbucks/74799-coffee-frappuccino-starbucks-drawing-free-hd-image.png">
        <br>
        <form action="hello" method="post">
            {% for message in get_flashed_messages()%}
               <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type ="submit" value="ENTER" id="hello">
        </form>
    </body>
</html>