<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Random Drink</title>
    </head>
    <body>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmUHtlEA6iTh4FSSrLfutgF0Y1ImvqVkSg-daqRU5sVCp9mlPvSXzYbsRQUrPDstEt4X8&usqp=CAU">
        <br>
        <form action="hello" method="post">
            {% for message in get_flashed_messages()%}
               <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type ="submit" value="ENTER" id="hello">
        </form>
    </body>
</html>